.cert {
	padding-top: 25px;
	padding-bottom: 35px;
	border-bottom: 1px solid var(--c-border);

	&__title {
		margin-bottom: 23px;
		text-align: center;
	}

	&__swiper-wrapper {
		position: relative;
		margin-inline: auto;
		padding-top: 10px;
		padding-inline: 10px;
		padding-bottom: 62px;
		width: 93%;
		border-radius: 5px;
		box-shadow: 0 0 5px 3px var(--c-bgc-text);

		@media #{$not-mobile} {
			width: 85%;
		}

		@media #{$not-tablet} {
			padding-bottom: 70px;
		}

		@media #{$desktop-only} {
			padding-top: 15px;
			padding-inline: 15px;
			width: 80%;
		}
	}

	&__img {
		display: block;
		border-radius: 5px;
		overflow: hidden;
	}

	&__swiper-wrapper .swiper-scrollbar.swiper-scrollbar-horizontal {
		top: auto;
		bottom: 50px;

		@media #{$not-tablet} {
			bottom: 55px;
		}
	}

	&__swiper-wrapper .swiper-scrollbar-drag {
		background: var(--c-social);
	}

	&__button-nav {
		top: auto;
		bottom: 10px;
		width: 70px;
		height: 28px;
		border-radius: 7px;
		border: 1px solid var(--c-social);

		@media #{$not-tablet} {
			bottom: 13px;
			width: 80px;
			height: 30px;
		}
	}

	&__button-nav--prev {
		left: 25%;

		@media (min-width: 540px) {
			left: 30%;
		}

		@media #{$not-tablet} {
			left: 35%;
		}
	}

	&__button-nav--next {
		right: 25%;

		@media (min-width: 540px) {
			right: 30%;
		}

		@media #{$not-tablet} {
			right: 35%;
		}
	}

	&__button-nav::after {
		font-size: 20px;
		color: var(--c-social);
	}
}
