.hero {
	padding-block: 25px;
	border-bottom: 1px solid var(--c-border);

	@media (min-width: 540px) {
		padding-block: 30px;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		column-gap: 10px;
		row-gap: 20px;

		@media (min-width: 540px) {
			column-gap: 25px;
			row-gap: 25px;
		}
	}

	&__title {
		grid-column: 1 / -1;
		margin-top: 0;
		margin-bottom: 10px;
		font-family: var(--accent-font);
		font-size: 30px;
		font-weight: 500;

		@media (min-width: 540px) {
			grid-column: 3 / -1;
			grid-row: 1 / 2;
			margin-bottom: 0;
		}

		@media #{$tablet-only} {
			font-size: 46px;
			max-width: 550px;
		}

		@media #{$desktop-only} {
			margin-bottom: 75px;
			max-width: 750px;
			font-size: 60px;
		}
	}

	&__subtitle {
		display: block;
		margin-bottom: 20px;
		font-family: var(--main-font);
		font-size: 23px;
		font-weight: 400;

		@media #{$tablet-only} {
			font-size: 28px;
		}

		@media #{$desktop-only} {
			margin-bottom: 13px;
			font-size: 30px;
		}
	}

	&__image-wrapper {
		grid-column: 1 / 4;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 7px;
		max-width: 161px;
		text-align: center;
		border-radius: 7px;
		box-shadow: 0 0 2px 2px var(--c-bgc-text);

		@media (min-width: 540px) {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
			justify-self: start;
			align-self: self-start;
		}

		@media #{$tablet-only} {
			max-width: 204px;
		}

		@media #{$not-tablet} {
			max-width: 264px;
		}
	}

	&__image {
		display: block;
		border-radius: 7px;
	}

	&__text {
		grid-column: 4 / -1;
		padding: 3px;
		padding-top: 9px;
		margin: 0;
		max-width: 161px;
		text-align: center;
		font-family: var(--italic-font);
		font-weight: 300;
		font-style: italic;
		font-size: 21px;
		border-radius: 7px;
		color: var(--c-second-text);
		background-color: var(--c-bgc-text);
		box-shadow: 0 0 2px 2px var(--c-bgc-text);

		@media (min-width: 540px) {
			grid-column: 1 / 3;
			grid-row: 2 / 3;
			max-width: 154px;
			min-height: 116px;
			font-size: 20px;
		}

		@media #{$tablet-only} {
			max-width: 204px;
		}

		@media #{$not-tablet} {
			align-self: start;
			max-width: 264px;
			min-height: 80px;
			font-size: 22px;
		}
	}

	&__descr {
		grid-column: 1 / -1;
		margin: 0;
		font-size: 25px;
		color: var(--c-second-text);
		background: linear-gradient(91.44deg, #b8f809 8.52%, #42ff66 51.5%, #62bdfd 91.88%);
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@media #{$not-tablet} {
			grid-column: 3 / -1;
			grid-row: 2 / 3;
			align-self: end;
			max-width: 515px;
			font-size: 33px;
		}

		@media #{$desktop-only} {
			max-width: max-content;
		}
	}

	&__list-social {
		grid-column: 1 / -1;

		@media (min-width: 540px) {
			grid-column: 3 / -1;
			grid-row: 2 / 3;
		}

		@media #{$not-tablet} {
			grid-row: 1 / 2;
			align-self: end;
		}
	}
}
