.navigation {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	padding-block: 20px;
	padding-inline: 30px;
	width: 70%;
	min-height: 50vh;
	background: linear-gradient(to right, #0d5536, #0e7046);
	background-color: #0d5837;
	border-bottom-left-radius: 10px;
	visibility: hidden;
	transform: translateX(110%);
	overflow-y: auto;
	transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;

	&--active {
		visibility: visible;
		transform: none;
		transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
	}

	@media #{$tablet-only} {
		width: 35%;
	}

	@media #{$not-tablet} {
		position: relative;
		flex-direction: initial;
		align-items: center;
		column-gap: 35px;
		row-gap: 10px;
		padding-block: 0;
		padding-inline: 0;
		width: auto;
		min-height: auto;
		background: transparent;
		background-color: transparent;
		border-bottom-left-radius: initial;
		visibility: visible;
		overflow-y: initial;
		transform: none;
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 30px;

		@media #{$not-tablet} {
			flex-direction: initial;
			align-items: center;
			column-gap: 35px;
			row-gap: 10px;
		}
	}

	&__item {
		position: relative;

		// точка рядом с названием открытой страницы
		&--current::before {
			position: absolute;
			content: "";
			top: 50%;
			left: -10px;
			transform: translateY(-50%);
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: #be5b0a;
		}
	}
}

.navigation__link {
	position: relative;
	display: inline-block;
	width: fit-content;
	transition: color 0.2s ease-in-out, outline 0.3s ease-in-out;

	// потом убрать
	&--dis {
		color: #808080;
		cursor: not-allowed;
	}

	@media #{$not-tablet} {
		display: block;
		width: auto;
		font-size: 20px;
	}

	// полоска под ссылкой при ховере
	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: var(--c-accent);
		transform: scale(0);
		transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 1px solid var(--c-accent);
		outline-offset: 3px;
		border-radius: 1px;
	}

	@include hover {
		color: var(--c-accent);

		&::after {
			transform: scale(1);
		}
	}

	&:active {
		color: var(--c-active);

		&::after {
			background-color: var(--c-active);
		}
	}
}

.navigation__link--gh {
	width: 76px;
	height: 33px;
	transform: translateY(2px);

	@media #{$not-tablet} {
		width: 68px;
		height: 25px;
		transform: translateY(-2px);
	}

	&::before {
		content: "";
		display: block;
		width: 76px;
		height: 33px;
		background-color: var(--c-main);
		mask: url("../../icons/stack.svg#github") no-repeat center / 76px 33px;
		transition: background-color 0.2s ease-in-out;

		@media #{$not-tablet} {
			width: 68px;
			height: 25px;
			mask-size: 68px 25px;
		}
	}

	@include hover {
		&::before {
			background-color: var(--c-accent);
		}
	}

	&:active::before {
		background-color: var(--c-active);
	}
}
