.navigation {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	padding-block: 20px;
	padding-inline: 30px;
	width: 80%;
	min-height: 50vh;
	background: linear-gradient(to right, #0d5536, #0e7046);
	background-color: #0d5837;
	border-bottom-left-radius: 10px;
	visibility: hidden;
	transform: translateX(110%);
	overflow-y: auto;
	transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;

	&--active {
		visibility: visible;
		transform: none;
		transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
	}
}

.navigation__list {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.navigation__item {
	position: relative;

	&--current::before {
		position: absolute;
		content: "";
		top: 50%;
		left: -9px;
		transform: translateY(-50%);
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #be5b0a;
	}
}

.navigation__link {
	position: relative;
	display: inline-block;
	width: fit-content;
	font-size: 1.1em;
	transition: color 0.2s ease-in-out, outline 0.3s ease-in-out;

	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: var(--c-accent);
		transform: scale(0);
		transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 1px solid var(--c-accent);
		outline-offset: 3px;
		border-radius: 1px;
	}

	@include hover {
		color: var(--c-accent);

		&::after {
			transform: scale(1);
		}
	}

	&:active {
		color: var(--c-active);

		&::after {
			background-color: var(--c-active);
		}
	}

	&--gh {
		width: 76px;
		height: 33px;
		transform: translateY(2px);

		&::before {
			content: "";
			display: block;
			width: 76px;
			height: 33px;
			background-color: var(--c-main);
			mask: url("../../icons/stack.svg#github") no-repeat center / 76px 33px;
			transition: background-color 0.2s ease-in-out;
		}

		@include hover {
			&::before {
				background-color: var(--c-accent);
			}
		}

		&:active::before {
			background-color: var(--c-active);
		}
	}
}
