.social {
	display: flex;
	flex-direction: column;
	row-gap: 5px;

	@media #{$not-tablet} {
		flex-direction: initial;
		column-gap: 14px;
	}

	@media #{$desktop-only} {
		column-gap: 40px;
	}

	&__link {
		position: relative;
		display: block;
		padding-block: 5px;
		padding-left: 36px;
		width: fit-content;
		font-size: 20px;
		color: var(--c-second-text);
		transition: outline 0.25s ease-in-out, color 0.25s ease-in-out;

		@media (min-width: 540px) {
			font-size: 19px;
		}

		@media #{$not-tablet} {
			font-size: 16px;
		}

		@media #{$desktop-only} {
			font-size: 18px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 32px;
			background-color: var(--c-social);
			mask: var(--bgi) no-repeat var(--bgp)/ var(--bgs);
			transition: background-color 0.25s ease-in-out;
		}

		&--phone {
			--bgi: url("../../icons/stack.svg#phone");
			--bgs: 20px 20px;
			--bgp: center 30%;
			font-size: 19px;
		}

		&--telegram {
			--bgi: url("../../icons/stack.svg#telegram");
			--bgs: 29px 22px;
			--bgp: center 40%;
			text-transform: lowercase;
		}

		&--mail {
			--bgi: url("../../icons/stack.svg#mail");
			--bgs: 18px 14px;
			--bgp: center 50%;
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			outline: 1px solid var(--c-accent);
			outline-offset: 3px;
			border-radius: 1px;
		}

		@include hover {
			&:hover {
				color: var(--c-accent);
			}

			&:hover::before {
				background-color: var(--c-mark);
			}
		}

		&:active {
			color: var(--c-active);
		}

		&:active::before {
			background-color: var(--c-mark);
		}
	}
}
