.up {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: outline 0.3s ease-in-out;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--c-second-text);
		mask: url("../../icons/stack.svg#up-arrow") no-repeat center / 40px 40px;
		transition: background-color 0.3s ease-in-out;
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 1px solid var(--c-accent);
		outline-offset: 3px;
	}

	@include hover {
		&:hover::before {
			background-color: var(--c-accent);
		}
	}

	&:active::before {
		background-color: var(--c-active);
	}
}
