.page {
	box-sizing: border-box;
	block-size: 100%;
	font-family: var(--main-font);
	font-size: var(--main-size);
	font-weight: 400;
	line-height: 1.3;
	color: var(--c-second-text);
	background-color: var(--c-bgc);
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.page__body {
	margin: 0;
	min-inline-size: 340px;
	min-block-size: 100vh;
}

.page-wrapper {
	overflow: hidden;
}

.page__container {
	margin-inline: 15px;

	@media #{$not-mobile} {
		margin-inline: 30px;
	}

	@media #{$desktop-only} {
		inline-size: 1220px;
		margin-inline: auto;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	height: auto;
	max-width: 100%;
	object-fit: contain;
}

img[src*=".svg" i] {
	object-fit: cover;	// для хрома, не понимающего contain у вектора
}

picture,
source {
	display: contents;	// это просто должно было быть в браузерах
}

* {
	-webkit-tap-highlight-color: transparent;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	list-style: none;
	margin-block: 0;
	padding-left: 0;
}

.stop-scroll {
	overflow: hidden;
}

.title {
	margin-top: 0;
	margin-bottom: 10px;
	font-family: var(--accent-font);
	font-size: 30px;
	font-weight: 500;
	color: var(--c-main);

	@media #{$tablet-only} {
		font-size: 46px;
	}

	@media #{$desktop-only} {
		font-size: 60px;
	}
}
