:root {
	// fonts
	--main-font: "Noto-sans", system-ui, sans-serif;
	--accent-font: "Noto-sans", system-ui, sans-serif;
	--italic-font: "Noto-sans", system-ui, sans-serif;

	// colors
	--c-main: #fcf3f3;
	--c-second-text: #ece8db;
	--c-bgc: #0c472c;
	--c-accent: #4cfd3c;
	--c-active: #18aa1f;
	--c-border: #6aaa04;
	--c-bgc-text: #10643e;
	--c-mark: #be5b0a;
	--c-social: #62bdfd;
	--c-selected: #ffd900;
	--c-bgc-cells: #209c73;
	--c-cells-outline: #35e2a9;

	// sizes
	--main-size: 25px;
}
