:root {
	// colors
	--c-main: #fcf3f3;
	--c-second-text: #f5f2ea;
	--c-bgc: #0c472c;
	--c-accent: #4cfd3c;
	--c-active: #18aa1f;
	--c-border: #6aaa04;
	--c-bgc-text: #10643e;
	--c-mark: #be5b0a;
	// --c-black: #000000;
	// --c-white: #ffffff;

	// sizes
	--main-size: 26px;
}
