<!DOCTYPE html>
<html class="page fallback" lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ projectName }}: {{ pages[pageId].name }}</title>
	{% include "./detect-format.twig" %}
	{# <link rel="stylesheet" href="./libs/accordion.min.css"> #}
	<link rel="stylesheet" href="./css/style.css">
	<link rel="preload" href="./fonts/opensans.woff2" type="font/woff2" as="font" crossorigin>
	<link rel="preload" href="./fonts/opensansbold.woff2" type="font/woff2" as="font" crossorigin>
	<link rel="icon" href="./favicon.ico" sizes="any">
	<link rel="icon" href="./favicons/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="./favicons/apple-touch-icon.png">
	<link rel="manifest" href="./manifest.webmanifest">
</head>

<body class="page__body">
	<div class="page-wrapper">
		{% include "./header.twig" %}
		<main class="main-content">
		{% block main %}{% endblock %}
		</main>
		{% include "./footer.twig" %}
	</div>
	<script src="./libs/accordion.min.js"></script>
	<script src="./js/main.js" type="module"></script>
</body>

</html>
