<footer class="footer footer__container page__container">
	<a class="up footer__up" href="#header" aria-label="Наверх к началу страницы"></a>
	<a class="footer__logo-link logo" href="./" {% if permalink == "./" %}aria-current="page"{% endif %}>
		{% include "./picture.twig" with {name: "logo", class: "logo__img", alt: "Логотип - слово портфолио."} %}
	</a>
	<nav class="footer__navigation navigation">
		<ul class="navigation__list list-reset">
			{% for page in pages %}
			<li class="navigation__item {% if permalink == page.path %} navigation__item--current {% endif %}">
				<a class="navigation__link  navigation-js" href="{{ page.path }}" {% if permalink == page.path %} aria-current="page"{% endif %}>{{ page.name }}</a>
			</li>
			{% endfor %}
		</ul>
		<ul class="navigation__list list-reset">
			<li class="navigation__item">
				<a class="navigation__link navigation__link--js" href="javascript:undefined">Мои работы</a>
				<ul class="navigation__list-works list-reset">
					<li class="navigation__item-works">
						<a class="navigation__link navigation-js navigation__link--works" href="https://supergym.timofeev-28.ru" target="_blank">Supergym</a>
					</li>
					<li class="navigation__item-works">
						<a class="navigation__link navigation-js navigation__link--works" href="https://mishka.timofeev-28.ru" target="_blank">Mishka</a>
					</li>
					<li class="navigation__item-works">
						<a class="navigation__link navigation-js navigation__link--works" href="https://blanchard.timofeev-28.ru" target="_blank">Blanchard</a>
					</li>
					<li class="navigation__item-works">
						<a class="navigation__link navigation-js navigation__link--works" href="https://drink2go.timofeev-28.ru" target="_blank">Drink2Go</a>
					</li>
					<li class="navigation__item-works">
						<a class="navigation__link navigation-js navigation__link--works" href="https://evclid.timofeev-28.ru" target="_blank">Evclid</a>
					</li>
				</ul>
			</li>
			<li class="navigation__item">
				<a class="navigation__link navigation-js navigation__link--gh" href="https://github.com/timofeev-28" target="_blank" aria-label="Мой профиль на Гитхабе"></a>
			</li>
		</ul>
	</nav>
	<ul class="footer__list-social social list-reset">
		<li class="social__item">
			<a class="social__link social__link--phone" href="tel:+79043356128">+7(904)335-61-28</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link--telegram" href="https://t.me/timofeev28">Telegram</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link--mail" href="mailto:timofeevdn28@mail.ru">timofeevdn28@mail.ru</a>
		</li>
	</ul>
	<p class="footer__text">
		Всё, что вы здесь видите, сделано осознанно и с пониманием того, что я делаю...
	</p>
	<p class="footer__copyright">
		&#9786; Дизайн мой, 2023
	</p>
</footer>
