<header class="header">
	<div class="page__container header__container">
		<a class="header__logo-link logo" href="./" {% if permalink == "./" %}aria-current="page"{% endif %}>
			<picture>
				{# <source media="(min-width: 1440px)" srcset="./img/logo.svg#desktop">
				<source media="(min-width: 768px)" srcset="./img/logo.svg#tablet"> #}
				<img class="logo__img" src="img/logo.png" width="365" height="36" alt="Логотип - надпись портфолио">
			</picture>
		</a>
		<nav class="navigation">
			<ul class="navigation__list list-reset">
				{% for page in pages %}
				<li class="navigation__item {% if permalink == page.path %} navigation__item--current {% endif %}">
					<a class="navigation__link" href="{{ page.path }}" {% if permalink == page.path %} aria-current="page"{% endif %}>{{ page.name }}</a>
				</li>
				{% endfor %}
			</ul>
			<a class="navigation__link navigation__link--dis" href="javascript:undefined">Мои работы</a>
			<a class="navigation__link navigation__link--gh" href="https://github.com/timofeev-28" target="_blank" aria-label="Мой профиль на Гитхабе"></a>
		</nav>
		<button class="burger btn-reset" type="button" aria-label="Открыть меню сайта">
			<span class="burger__line"></span>
		</button>
	</div>
</header>
