{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
	<h1 class="visually-hidden">Верстальщик с опытом работы</h1>
	<section class="hero">
		<div class="hero__container page__container">
			<h2 class="visually-hidden">Немного обо мне</h2>
			<h3 class="hero__title title">
				<span class="hero__subtitle">Привет, меня зовут Дмитрий</span>
				Верстальщик, будущий фронтенд-разработчик
			</h3>
			<div class="hero__image-wrapper">
				{% include "./templates/picture.twig" with {name: "dn", class: "hero__image", alt: "Моё фото."} %}
			</div>
			<p class="hero__text">Я из Санкт-Петербурга. Очень нравится вёрстка, люблю Java Script!</p>
			<p class="hero__descr">С радостью вольюсь в команду веб-разработчиков!</p>
			<ul class="hero__list-social social list-reset">
				<li class="social__item">
					<a class="social__link social__link--phone" href="tel:+79043356128">+7(904)335-61-28</a>
				</li>
				<li class="social__item">
					<a class="social__link social__link--telegram" href="https://t.me/timofeev28">Telegram</a>
				</li>
				<li class="social__item">
					<a class="social__link social__link--mail" href="mailto:timofeevdn28@mail.ru">timofeevdn28@mail.ru</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="about">
		<div class="page__container about__container">
			<h2 class="about__title title">Обо мне</h2>
			<ul class="accordion list-reset">
				<li class="accordion__item ac">
					<button class="accordion__btn ac-trigger btn-reset" type="button">Навыки</button>
					<div class="accordion__descr ac-panel">
						<ul class="accordion__list-text ac-text list-reset">
							<li class="accordion__item-text">HTML, CSS/SASS, Java Script <span class="accordion__span">(basic)</span></li>
							<li class="accordion__item-text">Git, Figma, Twig</li>
							<li class="accordion__item-text">БЭМ, Адаптивность, Доступность</li>
							<li class="accordion__item-text">Pixel Perfect, Семантика</li>
						</ul>
					</div>
				</li>
				<li class="accordion__item ac">
					<button class="accordion__btn ac-trigger btn-reset" type="button">Образование</button>
					<div class="accordion__descr ac-panel">
						<ul class="accordion__list-text ac-text list-reset">
							<li class="accordion__item-text">МГОУ - высшее техническое (Промышленная теплоэнергетика)</li>
							<li class="accordion__item-text">Skillbox - базовая вёрстка</li>
							<li class="accordion__item-text">HTML-Academy - HTML и CSS. Профессиональная вёрстка сайтов</li>
							<li class="accordion__item-text">HTML-Academy - HTML и CSS. Адаптивная вёрстка и автоматизация</li>
							<li class="accordion__item-text">HTML-Academy - JavaScript. Профессиональная разработка веб-интерфейсов</li>
							<li class="accordion__item-text">HTML-Academy - Профессия Фронтенд-разработчик (в процессе завершения)</li>
							<li class="accordion__item-text">Курсы Д.Трепачёва - JavaScript (в настоящее время)</li>
						</ul>
					</div>
				</li>
				<li class="accordion__item ac">
					<button class="accordion__btn ac-trigger btn-reset" type="button">Личные качества</button>
					<div class="accordion__descr ac-panel">
						<ul class="accordion__list-text ac-text list-reset">
							<li class="accordion__item-text">Спокойствие и коммуникабельность</li>
							<li class="accordion__item-text">Внимательность и аккуратность</li>
							<li class="accordion__item-text">Умение работать в команде и находить со всеми общий язык</li>
							<li class="accordion__item-text">Большой интерес к веб-разработке</li>
							<li class="accordion__item-text">Открыт к дальнейшему обучению новому и нужному</li>
							<li class="accordion__item-text">Оптимизм и чувство юмора присутствуют</li>
						</ul>
					</div>
				</li>
			</ul>
			<div class="about__image-wrap">
				<img class="about__image" src="./img/about__photo-1.jpg" srcset="./img/about__photo-1_2x.jpg" width="200" height="300" loading="lazy" alt="Компьютер и чашка кофе с палочками корицы рядом.">
			</div>
		</div>
	</section>

	<section class="cert">
		<div class="page__container cert__container">
			<h2 class="cert__title title">Сертификаты об обучении</h2>
			<div class="cert__swiper-wrapper">
				<div class="cert__swiper swiper">
					<div class="swiper-wrapper">
						<div class="cert__slide swiper-slide">
							<div class="cert__img-wrapper">
								<img class="cert__img" src="img/html-Skillbox.jpg" alt="Сертификат Профессиональная вёрстка сайтов образовательной платформы HTML-Академия">
							</div>
						</div>
						<div class="cert__slide swiper-slide">
							<div class="cert__img-wrapper">
								<img class="cert__img" src="img/html-1-ru.jpg" alt="Сертификат Профессиональная вёрстка сайтов образовательной платформы HTML-Академия">
							</div>
						</div>
						<div class="cert__slide swiper-slide">
							<div class="cert__img-wrapper">
								<img class="cert__img" src="img/html-2-ru.jpg" alt="Сертификат Профессиональная вёрстка сайтов образовательной платформы HTML-Академия">
							</div>
						</div>
						<div class="cert__slide swiper-slide">
							<div class="cert__img-wrapper">
								<img class="cert__img" src="img/js-1-ru.jpg" alt="Сертификат Профессиональная вёрстка сайтов образовательной платформы HTML-Академия">
							</div>
						</div>
					</div>
					<div class="cert__button-nav swiper-button-prev"></div>
					<div class="cert__button-nav swiper-button-next"></div>
				</div>
				<div class="swiper-scrollbar"></div>
			</div>

			<div class="cert__graph-modal graph-modal">
				<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="first">
					<button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
					<div class="graph-modal__content">
						<!-- контент модального окна -->
						<div class="graph-modal__img-wrapper">
							<img class="graph-modal__img" src="img/html-Skillbox.jpg" alt="Сертификат Профессиональная вёрстка сайтов образовательной платформы HTML-Академия">
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
{% endblock %}
